<script>
	$(document).on(function(){
		$('.tooltipped').tooltip({delay: 50});
	});
</script>
<div class="row">
	<div class="primera col m5 offset-m1">
		<div class="collection  z-depth-1">
			<% @full_properties.each do |property| %>
				<% if property.id == session[:property_id].to_i%>
					<a href="#property_card" class="grey darken-1 collection-item active"><%=property.street.upcase%> <%=property.number%> <%=property.unit.upcase%> </a>
				<% else %>
					<a href="/properties/change/<%=property.id%>" class="grey-text text-darken-1 collection-item"><%=property.street.upcase%> <%=property.number%> <%=property.unit.upcase%> </a>
				<% end %>
			<% end %>
		</div>
		<div class="row">
			<a href="/properties/new" class="light-green accent-4 btn-floating btn-small waves-effect waves-light red right small tooltipped z-depth-1" data-tooltip="Agregar departamento"><i class="material-icons">add</i></a>
		</div>
		<div id="#property_card" class="card z-depth-1">
			<div class="card-content">
				<h5>Tus citas:</h5>
				<ul class="colection">
					<table>
						<thead>
							<tr>
								<th data-field="status">
									Estatus
								</th>
								<th data-field="date">
									Día
								</th>
								<th data-field="time">
									Hora
								</th>
								<th data-field="actions" cass="right">
									Acciones
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
								<% if @appointment.status == "agendada" %>
									<p class="yellow-text text-accent-4" style="display:inline-block">Agendada</p>
								<% end %>
								<% if @appointment.status == "pendiente" %>
									<p class="orange-text text-accent-4">Confirma</p>
								<% end %>
								<% if @appointment.status == "confirmada" %>
									<p class="green-text text-accent-4">Confirmada</p>
								<% end %>
								</td>
								<td>
									<span class="title"><%=@appointment.date%></span>
								</td>
								<td>
									<%= @appointment.time.strftime("%l:%M %p")%>
								</td>
								<td>
									<% if @appointment.status == "pendiente" %>
										<div class="col right">
											<form action="/appointments/confirm/<%=@appointment.id%>" method="post">
												<input type="hidden" name="authenticity_token" value="form_authenticity_token">
												<input type="hidden" name="appointment[id]" value="<%=@appointment.id%>">
												<button class="light-green accent-4 btn-floating btn-small waves-effect waves-light red right small right tooltipped" data-tooltip="Confirmar" type="submit" name="action"><i class="material-icons right">done</i>
				  								</a>
				  								</button>
			  								</form>
			  							</div>
									<% end %>
									<div class="col right">
										<form action="/properties/<%=session[:property_id]%>" method="post">
											<input type="hidden" name="authenticity_token" value="form_authenticity_token">
											<input type="hidden" name="_method" value="delete">
											<button class="red accent-2 btn-floating btn-small waves-effect waves-light red right small right tooltipped" data-tooltip="Cancelar" type="submit" name="action"><i class="material-icons right">close</i>
		  									</button>
	  									</form>
  									</div>
  									<div class="col right">
	  									<form action="/properties/<%=session[:property_id]%>" method="post">
											<input type="hidden" name="authenticity_token" value="form_authenticity_token">
											<button class="cyan lighten-2 btn-floating btn-small waves-effect waves-light red right small right tooltipped" data-tooltip="Reagendar" type="submit" name="action"><i class="material-icons right">today</i>
		  									</button>
	  									</form>
  									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</ul>
				<% if @adds.length > 0 %>
				<h5>Tus anuncios:</h5>
					<div class="card-action">
						<div class="row">
							<% @adds.each do |add| %>
								<div class="col s2">
									<a href="<%= add.url%>"><img src="/assets/<%=add.website%>.png" alt="" class="circle small responsive-img"></a>
								</div>
							<% end %>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
	<div class="primera col m3 offset-m2">
		<h5>Tu agente:</h5>
		<div class="card">
			<div class="card-image waves-effect waves-block waves-light">
			 	<img class="activator" src="/assets/<%= @agent.last_name %>.png">
			</div>
			<div class="card-content">
			 	<span class="card-title activator grey-text text-darken-4"><%=@agent.name%> <%= @agent.last_name%><i class="material-icons right">more_vert</i></span>
				<p><i class="tiny material-icons">email</i> <a href="#"><%=@agent.email%></a></p>
				<p><i class="tiny material-icons">phone</i> <a href="#"><%=@agent.mobile_phone%></a></p>
				<div class="row right">
						<span>
							<%=@agent.rating%>
							<% @stars.times do %>
								<div id="min-width" style="display:inline-block"><i class="light-green-text text-accent-4 tiny material-icons">star_rate</i></div>							
							<% end %>
							<% @blank_stars.times do %>
								<div id="min-width" style="display:inline-block"><i class="grey-text text-lighten-2 tiny material-icons">star_rate</i></div>
							<% end %>
						</span>				
				</div>
			</div>
			<div class="card-reveal">
				<span class="card-title grey-text text-darken-4"><%=@agent.name%> <%= @agent.last_name%><i class="material-icons right">close</i></span>
				<h6>Lo que otros usuarios comentan de <%= @agent.name %>:</h6>
				<% if @agent_comments %>
					<ul class="right">
						<% @agent_comments.each do |comment| %>
							<li>"<%= comment.content%>"</li>
							<li class="light"><%= comment.created_at.strftime("%B, %Y")%></li>
							<br>
						<% end %>
					</ul>
				<% end %>
			</div>
		</div>
	</div>
</div>
