<script>
	$(document).ready(function(){
		// the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
		$('.modal-trigger').leanModal();
	});
	$(document).on(function(){
		$('.tooltipped').tooltip({delay: 50});
	});
	$(document).ready(function() {
		$('#update_trigger').click(function(){
			$('#appointmen_update').slideDown();
		});
	});
</script>
<div class="row">
	<div class="primera col m5 offset-m1">
		<div class="collection  z-depth-1">
			<% @full_properties.each do |property| %>
				<% if property.id == session[:property_id].to_i%>
					<a href="#property_card" class="grey darken-1 collection-item active"><%=property.street.upcase%> <%=property.number%> <%=property.unit.upcase%> </a>
				<% else %>
					<a href="/properties/change/<%=property.id%>" class="grey-text text-darken-1 collection-item"><%=property.street.upcase%> <%=property.number%> <%=property.unit.upcase%> </a>
				<% end %>
			<% end %>
		</div>
		<div class="row">
			<a href="/properties/new" class="light-green accent-4 btn-floating btn-small waves-effect waves-light red right small tooltipped z-depth-1" data-tooltip="Agregar departamento"><i class="material-icons">add</i></a>
		</div>
		<div id="#property_card" class="card z-depth-1">
			<div class="card-content">
				<h6 class="bold light-green-text text-darken-3">TUS CITAS</h6>
				<ul class="colection">
					<table>
						<thead>
							<tr>
								<th data-field="status">
									Estatus
								</th>
								<th data-field="date">
									Día
								</th>
								<th data-field="time">
									Hora
								</th>
								<th data-field="actions" cass="right">
									Acciones
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
								<% if @appointment.status == "agendada" %>
									<p class="yellow-text text-accent-4" style="display:inline-block">Agendada</p>
								<% end %>
								<% if @appointment.status == "pendiente" %>
									<p class="orange-text text-accent-4">Confirma</p>
								<% end %>
								<% if @appointment.status == "confirmada" %>
									<p class="green-text text-accent-4">Confirmada</p>
								<% end %>
								</td>
								<td>
									<span class="title"><%=@appointment.date%></span>
								</td>
								<td>
									<%= @appointment.time.strftime("%l:%M %p")%>
								</td>
								<td>
									<% if @appointment.status == "pendiente" %>
										<div class="col right">
											<form action="/appointments/confirm/<%=@appointment.id%>" method="post">
												<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
												<input type="hidden" name="appointment[id]" value="<%=@appointment.id%>">
												<button class="light-green accent-4 btn-floating btn-small waves-effect waves-light red right small right tooltipped" data-tooltip="Confirmar" type="submit" name="action"><i class="material-icons right">done</i>
				  								</a>
				  								</button>
			  								</form>
			  							</div>
									<% end %>
									<div class="col right">
										<form action="/properties/<%=session[:property_id]%>" method="post">
											<input type="hidden" name="_method" value="delete">
											<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
											<button class="red accent-2 btn-floating btn-small waves-effect waves-light red right small right tooltipped" data-tooltip="Cancelar" type="submit" name="action"><i class="material-icons right">close</i>
		  									</button>
	  									</form>
  									</div>
  									<div class="col right">
	  									<form>
											<button id="update_trigger" class="cyan lighten-2 btn-floating btn-small waves-effect waves-light red right small right tooltipped" data-tooltip="Reagendar" type="submit" name="action"><i class="material-icons right">today</i>
		  									</button>
	  									</form>
  									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</ul>
				<h6 class="bold light-green-text text-darken-3">TUS ANUNCIOS</h6>
				<div class="card-action">
					<div class="row">
						<% @adds.each do |add| %>
							<% if add[:status] == "active" %>
								<div class="col s2">
									<a href="<%= add[:url]%>"><img src="/assets/<%=add[:file]%>" alt="" class="circle small responsive-img"></a>
								</div>
							<% else %>
								<div class="col s2">
									<img src="/assets/<%=add[:file]%>" alt="" class="circle small responsive-img">
								</div>
							<% end %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="primera col m5">
		<div id="update_placeholder">
			<div class="row">
			<div class="row">
				<div id="update"  class="card z-depth-1 col m8 offset-m4 white-text" style="display:none">
					<div class="card-content">
						<div class="row">
							<span class="title bold">Selecciona la nueva fecha y hora</span>	
						</div>
						<form action="/appointments/<%=@appointment.id%>" method="post">
							<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
							<div class="row">
								<div class="col 6s">
									<input type="date" name="appointment[date]">
								</div>
								<div class="col 6s">
									<select id="time" class="browser-default" name="appointment[time]">
										<% @working_hours.each do |hour| %>
											<option value="<%= hour %>"><%= hour %></option>
										<% end %>
									</select>
								</div>
							</div>
							<div class="row">
								<div class="col s12">
									<button class="light-green accent-4 btn-floating btn-small waves-effect waves-light right" type="submit"><i class="material-icons">send</i></button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			</div>
		</div>
		<div class="col m10 offset-m2">
			<h6 class="bold light-green-text text-darken-3">TU AGENTE</h6>
		</div>
		<div class="card white lighten-4 z-depth-1 collection col m10 offset-m2">
			<div id="agent-card-content" class="card-content">
				<div class="row">
					<div class="col s3">
						<img src="/assets/<%=@agent.last_name %>.png" class="circle small responsive-img">
					</div>
				    <div class="row right">
						<span>
							<% @stars.times do %>
								<div id="min-width" style="display:inline-block"><i class="bold light-green-text text-accent-4 tiny material-icons">star_rate</i></div>							
							<% end %>
							<% @blank_stars.times do %>
								<div id="min-width" style="display:inline-block"><i class="grey-text text-lighten-2 tiny material-icons">star_rate</i></div>
							<% end %>
							<%=@agent.rating.to_f %>
						</span>	
					</div>			
					<div class="col s9">
			      		<span class="title bold"><%=@agent.name%> <%= @agent.last_name%></span>
						<p><i class="tiny material-icons">email</i> <a href="#"><%=@agent.email%></a></p>
						<p><i class="tiny material-icons">phone</i> <a href="#"><%=@agent.mobile_phone%></a></p>
		      		</div>
				</div>
	      	</div>
		</div>
	</div>
</div>
