<!DOCTYPE html>
<html>
<head>
	<meta name="google-site-verification" content="RVJpdCuMsoaazQaqbw7RLgNhBJemi_FFUhTmrCGHwx0" />
	<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/favicon-194x194.png" sizes="194x194">
	<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#66cc33">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-TileImage" content="/mstile-144x144.png">
	<meta name="theme-color" content="#66cc33">
	<title>Primera Raíz</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script type="text/javascript">
		var ready;
		ready = function() {
			$(document).ready(function() {
				$.ajaxSetup({
				  headers: {
				    'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
				  }
				});
				$('#registration_form').submit(function() {
					$.post(
						'/users',
						$(this).serialize(),
						function(data) {
							if ("user_id" in data) {
								var user_id = data['user_id'];
								url = "/properties/new";
								$(location).attr("href", url);
							}
							else {
								var array = data.errors;
								var newHTML = [];
								for (var i = 0; i < array.length; i++) {
								    newHTML.push('<li class="red-text">' + array[i] + '</li>');
								}
								$("#registration_errors").html("<div class='row'><ul>"+newHTML.join("")+"</ul></div>");
							}
						},
						"json"
					)
					return false;
				})

			$(document).ready(function() {
				$('#login_trigger').click(function(){
					$('#login').slideDown();
				})
			})

			// jQuery script for login_form
			$(document).on("click", "#login_form", function() {
				$('#login_form').submit(function() {
					$.post(
						'/users/login',
						$(this).serialize(),
						function(data) {
							if ("property_id" in data) {
								var property_id = data['property_id'];
								url = "/properties/"+property_id;
								$( location ).attr("href", url);
							}
							else if ("user_id" in data) {
								var user_id = data['user_id'];
								url = "/properties/new";
								$( location ).attr("href", url);
							}

							else {
								$("#login_errors").html("<div class='row'><ul><li class='red-text'>" + data.error_message + "</li></ul></div>");
							}
						},
						"json"
					)
					return false;
				})
			})
			$(document).on(function(){
				$('.tooltipped').tooltip({delay: 50});
			});
			$(document).ready(function(){
		      $('.slider').slider({full_width: true, interval: 30000});
		    });
		    $(document).ready(function(){
		    $('.modal-trigger').leanModal();
  			});
  			$('.datepicker').pickadate({
			    selectMonths: true, // Creates a dropdown to control month
			    selectYears: 15 // Creates a dropdown of 15 years to control year
			 });
		});
	};
	$(document).ready(ready);
	$(document).on('page:load', ready);
</script>
</head>
<body background="/assets/tiles.jpg">
	<div class="navbar-fixed">
		<nav class="white z-depth-2">
			<div class="nav-wrapper">
				<a href="/">
					<div class="logo">
						<img src="/assets/logo.png" class="z-depth-1" width="32" height="32">
						<h5 class="brand">primera<span class="keyword-green">Raíz</span></h5>
					</div>
				</a>
				<ul class="right hide-on-med-and-down">
        			<% unless session[:user_id].nil? %>
						<% if current_user.email == "diego.carsan@gmail.com" %>
							<li>
								<img src="/assets/totoro.jpg" width="40" height="auto">
							</li>
							<li>
								<a href="#"><h5 class="black-text">Bob dice que te ama :)</h5></a>
							</li>
						<% end %>
					<% end %>
        			<% if session[:user_id] %>
						<li>
							<a class="grey-text" href="#"><%=greeting%> <%= current_user.name%></a>
						</li>
						<li>
							<a class="grey-text" href="/users/logout"><i class="material-icons right">lock</i>Cerrar sesión</a>
						</li>
					<% else %>
						<li>
							<a class="grey-text" id="login_trigger" href="#login_display" ><i class="material-icons right">lock_open</i>Iniciar sesión</a> 
						</li>
					<% end %>      			
      			</ul>
			</div>
		</nav>
	</div>

		<%= yield %>

</body>
</html>
